<section id="login">
    <header class="container-form">
        <h1>Login</h1>
        <p>Merci de renseigner ci-dessous votre identifiant ainsi que votre mot de passe pour vous connecter à votre
            compte
            utilisateur</p>
    </header>
    <form class="form-login" action="/login" method="POST">
        <div>
            <h3><label for="username">Email* </label></h3>
            <input type="email" name="username" required>

        </div>

        <div>
            <h3><label for="password">Mot de passe* </label></h3>
            <input type="password" name="password" required>

        </div>

        {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}

        <div>
            <button>Se connecter</button>
        </div>
    </form>

</section>