<div id="temoignage-edit">
  <h1>Editer le témoignage</h1>
  <form method="POST" action="/temoignages/{{temoignage.id}}/edit">
    <label>
      <h2> Type de séance</h2>

      <select name="type_seance" multiple>
        <option>Hypnotherapie</option>
        <option>Sophrologie</option>
        <option>Magnétisme</option>
      </select>
    </label>

    <label>
      <h2> Message</h2>

      <textarea type="text" name="message">{{temoignage.message}}</textarea>
    </label>

    <label>
      <h2>Signature</h2>
      <input type="text" name="signature" value="{{temoignage.signature}}" />
    </label>

    <button>Editer le temoignage</button>

  </form>
</div>