<section id="video-hp">


    <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        <!-- Text to be shown incase browser doesnt support html5 -->
    </video>

</section>
<section id="container-push-about-hp">
    <div class="push">

        <div class="container-presentation">
            <h1>FABIENNE ILIC</h1>
            <article>
                <p>lorem ipsumHtml By Mehedi Islam Ripon on Feb 25 2021
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rer </p>
            </article>
            <a href="/fabienne-ilic">EN SAVOIR PLUS <img class="arrow-link" src="images/arrow-right.png"
                    alt="arrow-link"></a>

        </div>
        <div class="size-image-practicien"> <img src="images/fabienne-ilic.png" alt=""> </div>
    </div>


</section>

<section class="quote">
    <div class="guillemet-left"><img src="images/quote-left.png" alt="guillemet gauche"></div>
    <blockquote class="text-quote">Ceci est une citation mamène, merci de m'en lire et d'inspirer ta vie</blockquote>
    <div class="guillemet-right"><img src="images/quote-right.png" alt="guillemet droite"></div>
    <div class="author-quote">Mathew Kindman</div>

</section>

<section id="seances">

    <div id="container-seances">
        <h2>LES SEANCES</h2>
        <div class="container-seance">
            <h3>SEANCE D'HYPNOSE</h3>
            <div class="container-links">
                <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                <div> <a href="/hypnose">EN SAVOIR PLUS</a> </div>
            </div>
        </div>
        <div class="container-seance">
            <h3>SEANCE DE SOPHROLOGIE</h3>
            <div class="container-links">
                <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                <div> <a href="/sophrologie">EN SAVOIR PLUS</a> </div>
            </div>
        </div>
        <div class="container-seance">
            <h3>SEANCE DE MAGNETISME</h3>
            <div class="container-links">
                <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                <div> <a href="/magnetisme">EN SAVOIR PLUS</a> </div>
            </div>
        </div>
    </div>


</section>
<h2 class="title-article">ARTICLE DU MOMENT</h2>
<section id="article-du-moment">

    <div class="container-article-hp">
        <h3>BIEN-ETRE ET HYPNOSE</h3>
        <img src="images/bal-masque.png" alt="">
        <p>lorem ipsumHtml By Mehedi Islam Ripon on Feb 25 2021 Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam
            blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rer</p>
        <a href="/fabienne-ilic">EN SAVOIR PLUS <img class="arrow-link" src="images/arrow-right.png"
                alt="arrow-link"></a>

    </div>

</section>

<div class="link-articles"><a href="/articles">TOUS LES ARTICLES <img class="arrow-link" src="images/arrow-right.png"
            alt="arrow-link"></a></div>




<h2 class="title-article">VOS TEMOIGNAGES</h2>
<section id="temoignages">


    {{#each temoignages}}
    <div class="container-avis">
        <h3 class="title-avis">{{this.type_seance}}</h3>
        <blockquote> <p>{{this.message}}</p>
        </blockquote>
        <div class="author-avis">{{this.signature}}</div>
    </div>
    {{/each}}

</section>

<div class="link-articles"><a href="/temoignages">TOUS LES TEMOIGNAGES<img class="arrow-link"
            src="images/arrow-right.png" alt="arrow-link"></a></div>

<section class="quote">
    <div class="guillemet-left"><img src="images/quote-left.png" alt="guillemet gauche"></div>
    <blockquote class="text-quote">Ceci est une citation mamène, merci de m'en lire et d'inspirer ta vie</blockquote>
    <div class="guillemet-right"><img src="images/quote-right.png" alt="guillemet droite"></div>
    <div class="author-quote">Mathew Kindman</div>

</section>