<div id="video-hp"> </div>
<section id="container-push-about-hp">
    <div class="push">

        <div class="container-presentation">
            <h1>FABIENNE ILIC</h1>
            <article>
                <p>lorem ipsumHtml By Mehedi Islam Ripon on Feb 25 2021
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rer </p>
            </article>
            <a href="">EN SAVOIR PLUS <img class="arrow-link" src="images/arrow-right.png" alt="arrow-link"></a>

        </div>
        <div class="size-image-practicien"> <img src="images/fabienne-ilic.png" alt=""> </div>
    </div>


</section>