Coucou, je suis le formulaire de création d'un témoignages

<div id="temoignage">
  <h2>Créer un témoignage</h2>
  <form action="/temoignages/create" method="POST">

    <label>
      Type de séance
      <select name="type_seance" multiple>
        <option >Hypnotherapie</option>
        <option >Sophrologie</option>
        <option >Magnétisme</option>
      </select>
    </label>

    <label>
      Message
      <textarea type="text" name="message"></textarea>
    </label>

    <label>
      Signature
      <input type="text" name="signature"/>
    </label>

    <button>Créer un témoignages</button>

  </form>
</div>