<section id="form-avis">
  <h1>Créer un témoignage</h1>
  <form action="/temoignages/create" method="POST">

    <label>
      <h3>Type de séance</h3>
      <select name="type_seance" multiple>
        <option>Hypnotherapie</option>
        <option>Sophrologie</option>
        <option>Magnétisme</option>
      </select>
    </label>

    <label>
      <h3>Message </h3>
      <textarea type="text" name="message" required></textarea>
    </label>

    <label>
      <h3>Signature</h3>
      <input type="text" name="signature" />
    </label>

    <button>Créer un témoignages</button>

  </form>
</section>