<section id="rdv">

  <header class="container-form">
    <h1>Prendre rendez-vous</h1>
    <p>lorem ipsum lorem lorem lorem ipsum tadam tadam lorem ipsum lorem lorem lorem ipsum tadam tadamlorem ipsum lorem
      lorem lorem ipsum tadam tadam</p>
  </header>

  <form class="form-rdv" action="/prendre-rdv" method="POST">
    <label>
      <h3>Prénom</h3>
      <input type="text" name="name" {{#if user}} value="{{user.name}}" {{/if}} required />
    </label>

    <label>
      <h3>Nom de Famille</h3>
      <input type="text" name="last_name" {{#if user}} value="{{user.last_name}}" {{/if}} required />
    </label>

    <label>
      <h3>Email</h3>

      <input type="email" name="email" {{#if user}} value="{{user.email}}" {{/if}} required />
    </label>

    <label>
      <h3> Telephone</h3>

      <input type="text" name="tel" {{#if user}} value="{{user.tel}}" {{/if}} />
    </label>

    <label>
      <h3> Type de séance</h3>

      <select name="type_seance" multiple>
        <option>Hypnotherapie</option>
        <option>Sophrologie</option>
        <option>Magnétisme</option>
      </select>

    </label>

    <label>
      <h3>Message</h3>
      <textarea type="text" name="message" required></textarea>
    </label>


    <button>Demander un rendez-vous</button>

  </form>
</section>