<section id="sophro-container">
    <header>
        <h1>Qu’est-ce que la sophrologie ?</h1>
        <p>Méthode mise au point en 1960 par Alfonso Caycédo, neuropsychiatre espagnol d’origine colombienne. Il s’est
            d’abord intéressé à l’hypnose puis à des disciplines orientales telles que le yoga, bouddhisme tibétain et
            zen japonais, techniques qu’il intégrera dans sa méthode ainsi que la phénoménologie.</p>
        <span>Prix d'une séance : 60 euros - Durée : 1H30</span>

    </header>




    <div class="sophro-sub-container">

        <img />
        <h2>Qu'est-ce que la sophrologie ?</h2>


        <div class="container-top-txt">

            <div>
                <p> L’hypnose tout comme la sophrologie proposent une modification du niveau de conscience, appelé en
                    sophrologie le niveau Sophroliminal qui permet d’accéder à des capacités qui existent en nous mais
                    qui
                    sont rarement utilisées.</p>
                <p> L’objectif est que les patients retrouvent une harmonie entre leur corps et leur esprit par des
                    techniques dynamiques et statiques de relaxation, de respiration, de visualisation, par la
                    méditation et
                    la pensée positive.</p>
                <p> Cette pratique psychocorporelle s’appuie essentiellement sur la détente physique, obtenue grâce à
                    des
                    exercices de respiration, l’utilisation de techniques dynamiques, la pensée positive, le travail
                    d’imagerie mentale. Cette discipline, qui fait partie des thérapies brèves, peut également se
                    travailler
                    sur le long terme.
                </p>



            </div>


            <div class="soin-sophro">

                <div class="accordion">
                    <button class="acchead">Gestion des émotions</button>
                    <div class="accpanel">
                        <p>Content1</p>
                    </div>
                    <button class="acchead">Sommeil</button>
                    <div class="accpanel">
                        <p>Content2</p>
                    </div>
                    <button class="acchead">Mieux-être</button>
                    <div class="accpanel">
                        <p>Content3</p>
                    </div>
                    <button class="acchead">Douleur</button>
                    <div class="accpanel">
                        <p>Content4</p>
                    </div>
                    <button class="acchead">Acouphène</button>
                    <div class="accpanel">
                        <p>Content5</p>
                    </div>
                    <button class="acchead">Performances sportives</button>
                    <div class="accpanel">
                        <p>Content6</p>
                    </div>
                </div>

            </div>

        </div>


        <div class="img2"></div>


        <h2>Les principales indications</h2>
        <div class="container-bottom-txt">

            <div>
                <p> Les principales indications sont prophylactiques (stress, gestion des émotions, sommeil, mieux-être,
                    détente), médicales (douleur, acouphène, dépression, etc.), sportives (performance, préparation,
                    récupération).</p>
                <p> C’est par une pratique régulière des séances, qui vont être enregistrées lors de la consultation,
                    que
                    l’on va pouvoir mobiliser ses propres ressources pour faire face à un problème et activer ses
                    potentiels.</p>
            </div>
            {{!-- <div>
                <p> L’inconscient est créatif et a horreur du vide. Si on lui demande quelque chose qu’il ne possède
                    pas, il
                    le
                    fabrique (attention donc aux recherches de vérités). Il a un mode de fonctionnement simple comme un
                    animal
                    ou un jeune enfant. Il ne connaît pas la négation. Il privilégie la survie du corps. Le mode survie
                    est
                    la
                    raison pour</p>

                <p> laquelle le problème est apparu puis s’est maintenu. L’inconscient est le fruit de tout ce qui
                    constitue
                    notre vie (face obscure cachée de l’iceberg…) Il perçoit, ressent, pense et réagit de façon
                    autonome. Il
                    prend en charge de façon autonome des tâches complexes et variées souvent ignorées du conscient
                    (fonctionnements organiques, mémoire, apprentissages, automatismes).</p>

            </div> --}}

        </div>

    </div>


    <section class="quote">
        <div class="guillemet-left"><img src="images/quote-left.png" alt="guillemet gauche"></div>
        <blockquote class="text-quote">L’hypnose est un état naturel permettant d’accéder à des potentiels particuliers…
        </blockquote>
        <div class="guillemet-right"><img src="images/quote-right.png" alt="guillemet droite"></div>
        <div class="author-quote">Milton Erickson</div>

    </section>



</section>