<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="favicon.ico" />
</head>

<body>

  <header id="main-header">
    {{!-- nav --}}
    <nav class="navbar">
      <div class="menu-mobile">
        <a href="/">
          <img id="logo-mobile" src="/images/logo.png" alt="logo">
        </a>
        <a class="btn-rdv-mobile" href="/prendre-rdv"><img class="img-icon-menu" src="/images/rdv.png"
            alt="Rendez-vous" /></a>
        <a href="javascript:void 0;"><img class="img-icon-menu open-account" src="/images/account.png"
            alt="Account"></a>
        <a outclick="closeMenu()" href="javascript:void 0;"><img class="img-icon-menu open-menu"
            src="/images/menu-burger.png" alt="Burger"></a>

      </div>

      <div id="mobile" class="active">

        <ul>
          <li><a href="">LES SEANCES</a> </li>
          <li> <a href="/hypnotherapeute">- Hypnose -</a> </li>
          <li> <a href="/sophrologue">- Sophrologie -</a> </li>
          <li> <a href="/magnetiseur">- Magnétisme -</a> </li>
        </ul>

        <ul>
          <li> <a href="">VOTRE BIEN-ETRE</a> </li>
          <li> <a href="/articles">- Tous les articles -</a> </li>
          <li> <a href="/temoignages">- Tous les témoignages-</a> </li>
        </ul>

        <ul>
          <li> <a href="/fabienne-ilic">FABIENNE ILIC</a> </li>
          <li> <a href="/fabienne-ilic">- A propos -</a> </li>

        </ul>

        <a href="">
          <img class="close" onclick="accountMenu()" src="/images/cross.png" alt="">
        </a>

      </div>


      <div id="mobile-account" class="active">
        {{#if user}}

        <ul>
          <li><a href="/dashboard">Dashboard</a> </li>
          <li> <a href="/dashboard#edit_profil">- Mon profil -</a> </li>
          <li> <a href="/logout">- Se deconnecter -</a> </li>
        </ul>

        {{else}}
        <ul>
          <li><a href="">Dashboard</a> </li>
          <li> <a href="/login">- Se connecter -</a> </li>
          <li> <a href="/inscription">- S'inscrire -</a> </li>

        </ul>

        {{/if}}

        <a href="">
          <img class="close" onclick="accountMenu()" src="/images/cross.png" alt="">
        </a>

      </div>


      <div class="menu-desktop">

        <a href="/">
          <img id="logo-desktop" src="/images/logo.png" alt="logo">
        </a>

        <ul>
          <li class="deroulant"><a href="javascript:void 0;">LES SEANCES</a>
            <ul class="sous">
              <li> <a href="/hypnotherapeute">Hypnose</a> </li>
              <li> <a href="/sophrologue">Sophrologie </a> </li>
              <li> <a href="/magnetiseur">Magnétisme</a></li>
            </ul>
          </li>
        </ul>

        <div class="line-menu"></div>


        <ul>
          <li class="deroulant"><a href="javascript:void 0;">VOTRE BIEN-ÊTRE</a>
            <ul class="sous">
              <li> <a href="/articles">Tous les articles</a> </li>
              <li> <a href="/temoignages">Tous les témoignages </a> </li>
            </ul>
          </li>
        </ul>

        <div class="line-menu"></div>

        <a href="/fabienne-ilic">FABIENNE ILIC</a>
        <div class="btn-rdv-desktop">
          <a href="/prendre-rdv">Prendre un rendez-vous</a><img class="img-icon-menu" src="/images/rdv.png"
            alt="account"></div>

        <ul>
          <li class="deroulant">
            <div class="btn-account-desktop"><img class="img-icon-menu" src="/images/account.png" alt="account">
              <a href="javascript:void 0;">MON COMPTE</a></div>

            {{#if user}}
            <ul class="sous">
              <li> <a href="/dashboard">Dashboard</a> </li>
              <li> <a href="/dashboard#edit_profil">Mon profil</a> </li>
              <li> <a href="/logout">Se deconnecter</a> </li>
            </ul>

            {{else}}
            <ul class="sous">
              <li> <a href="/dashboard">Dashboard</a> </li>
              <li> <a href="/login">Se connecter</a> </li>
              <li> <a href="/inscription">S'inscrire </a> </li>

            </ul>
            {{/if}}
          </li>
        </ul>

      </div>



    </nav>

  </header>




  {{{body}}}

  <section id="map">

    <img src="/images/map.png" alt="map">

    <div class="localise">
      <h3>LOCALISER LE CABINET</h3>
      <p>Je vous accueille avec plaisir à mon Cabinet situé au 21, rue des Trembles à Courtry.
      </p>
    </div>



  </section>


  <footer id="global-footer">

    <div class="links-footer">
      <ul>
        <li><a href="">LES SEANCES</a> </li>
        <li> <a href="/hypnotherapeute">Hypnose</a> </li>
        <li> <a href="/sophrologue">Sophrologie</a> </li>
        <li> <a href="/magnetiseur">Magnétisme</a> </li>
      </ul>

      <ul>
        <li> <a href="">VOTRE BIEN-ETRE</a> </li>
        <li> <a href="/articles">Tous les articles</a> </li>
        <li> <a href="/temoignages">Tous les témoignages</a> </li>
      </ul>

      <ul>
        <li> <a href="/fabienne-ilic">FABIENNE ILIC</a> </li>
        <li> <a href="/fabienne-ilic">A propos</a> </li>

      </ul>
    </div>
    <div class="container-bottom">
      <a href="https://www.doctolib.fr/hypnotherapeute/courtry/fabienne-ilic" target="_blank"><img
          src="/images/doctolib.png" alt="doctolib"></a>
      <span>
        <a class="mentions" href="">MENTIONS LEGALES</a>
        <a class="mentions" href="">RGPD</a>
        <a class="mentions" href="">COOKIES</a>
      </span>
    </div>

  </footer>

  <script src="/javascripts/homepage.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>