<section id="sophro-container">
    <header>
        <h1>Qu’est-ce que la sophrologie ?</h1>
        <p>Chaque individu connaît des modifications de ses états de conscience au quotidien par différentes voies qui
            l’attire personnellement : la rêverie, le cinéma, la lecture, la poésie, la méditation…et plus généralement
            toutes les formes d’art, de pratiques sportives, de distractions, tout ce qui lui crée une « évasion de son
            quotidien ordinaire ».</p>
        <span>Prix d'une séance : 60 euros - Durée : 1H30</span>

    </header>




    <div class="sophro-sub-container">

        <img />
        <h2>Title 1</h2>


        <div class="container-top-txt">

            <div>
                <p>L’état d’hypnose est donc un état naturel que nous connaissons tous.</p>
                <p> Toute personne est composée d’une multitude de parties. Une partie consciente mais également une
                    multitude
                    de parties qui représente l’inconscient. L’inconscient représente ce qui nous échappe, ce qui n’est
                    pas
                    accessible au conscient.</p>
                <p> Le conscient est notre état ordinaire. Il est incapable d’aller chercher les éléments à un niveau
                    inconscient.
                </p>
                <p> Lorsqu’une personne rencontre un problème, elle l’expose souvent comme un conflit interne, elle a
                    envie de
                    changer consciemment mais c’est plus fort qu’elle, quelque chose en elle l’en empêche.</p>
                <p>Exemple : j’aimerais arrêter de fumer, mais c’est plus fort que moi…c’est comme une pulsion…</p>
            </div>


            <div class="soin-sophro">

                <div class="accordion">
                    <button class="acchead">Arrêter de fumer</button>
                    <div class="accpanel">
                        <p>Content1</p>
                    </div>
                    <button class="acchead">Lacher prise</button>
                    <div class="accpanel">
                        <p>Content2</p>
                    </div>
                    <button class="acchead">Heading 3</button>
                    <div class="accpanel">
                        <p>Content3</p>
                    </div>
                    <button class="acchead">Heading 4</button>
                    <div class="accpanel">
                        <p>Content4</p>
                    </div>
                    <button class="acchead">Heading 5</button>
                    <div class="accpanel">
                        <p>Content5</p>
                    </div>
                    <button class="acchead">Heading 6</button>
                    <div class="accpanel">
                        <p>Content6</p>
                    </div>
                </div>

            </div>

        </div>


        <div class="img2"></div>


        <h2>Title 2</h2>
        <div class="container-bottom-txt">

            <div>

                <p>
                    L’hypnose est un moyen de communiquer avec l’inconscient. Le but est de parler le langage de
                    l’inconscient
                    grâce aux outils de l’hypnose. L’utilisation de l’hypnose va provoquer chez le client un état de
                    conscience
                    modifié grâce à différentes inductions adaptées au mode de fonctionnement de a personne. Être en
                    état
                    d’hypnose ou en transe donne accès à une mémoire étendue et à des détails autrement inaccessibles.
                    L’accès à
                    l’imaginaire est largement facilitée et la pensée logique mise de côté. L’hypnose permet d’explorer
                    notre
                    construction subjective (croyances, émotions) et non pas la réalité objective. La première séance
                    permet
                    de
                    parler, d’échanger et de là le praticien choisit les outils et la stratégie à mettre en place.
                    Lorsque
                    la
                    personne est en état d’hypnose ou en transe, des signaux idéomoteurs ou mouvements automatiques
                    apparaissent, l’hypnologue peut alors mettre en place un signal inconscient afin de pourvoir
                    dialoguer
                    avec
                    une ou plusieurs parties inconscientes du sujet. Le but est de négocier avec la ou les parties qui
                    bloquent
                    ou posent problème afin de les aider à trouver un terrain d’entente et de libérer le client. Il est
                    donc
                    important de parler le langage de l’inconscient grâce aux outils de l’hypnose.</p>
            </div>
            <div>
                <p> L’inconscient est créatif et a horreur du vide. Si on lui demande quelque chose qu’il ne possède
                    pas, il
                    le
                    fabrique (attention donc aux recherches de vérités). Il a un mode de fonctionnement simple comme un
                    animal
                    ou un jeune enfant. Il ne connaît pas la négation. Il privilégie la survie du corps. Le mode survie
                    est
                    la
                    raison pour</p>

                <p> laquelle le problème est apparu puis s’est maintenu. L’inconscient est le fruit de tout ce qui
                    constitue
                    notre vie (face obscure cachée de l’iceberg…) Il perçoit, ressent, pense et réagit de façon
                    autonome. Il
                    prend en charge de façon autonome des tâches complexes et variées souvent ignorées du conscient
                    (fonctionnements organiques, mémoire, apprentissages, automatismes).</p>

            </div>

        </div>

    </div>


    <section class="quote">
        <div class="guillemet-left"><img src="images/quote-left.png" alt="guillemet gauche"></div>
        <blockquote class="text-quote">L’hypnose est un état naturel permettant d’accéder à des potentiels particuliers…
        </blockquote>
        <div class="guillemet-right"><img src="images/quote-right.png" alt="guillemet droite"></div>
        <div class="author-quote">Milton Erickson</div>

    </section>



</section>