<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header id="main-header">

    <nav class="navbar">
      <div class="menu-mobile">
        <img id="logo-mobile" src="https://via.placeholder.com/100" alt="logo">
        <a href="javascript:void 0;"><img class="img-icon-menu" src="./images/rdv.png" alt="Rendez-vous" /></a>
        <a href="javascript:void 0;"><img class="img-icon-menu" src="./images/account.png" alt="Account"></a>
        <a href="javascript:void 0;"><img class="img-icon-menu" src="./images/menu-burger.png" alt="Burger"></a>
      </div>

      <div class="menu-desktop">
        <img id="logo-desktop" src="https://via.placeholder.com/100" alt="logo">
        <a href="javascript:void 0;">LES SEANCES</a><div></div>
        <a href="javascript:void 0;">VOTRE BIEN-ÊTRE</a>
        <a href="javascript:void 0;">FABIENNE ILIC</a>
        <div class="btn-rdv-desktop">
          <a href="javascript:void 0;">Prendre un rendez-vous</a><img class="img-icon-menu" src="./images/rdv.png"
            alt="account"></div>
        <div class="btn-account-desktop"><img class="img-icon-menu" src="./images/account.png" alt="account">
          <a href="javascript:void 0;">MON COMPTE</a></div>

      </div>


      {{!-- <ul>
        <li><a href="/"><img id="logo" src="https://via.placeholder.com/100" alt="logo-fabienne-ilic"></a></li>
        <li class="line-menu"><a href="#">LES SEANCES</a></li>
        <li><a href="#">VOTRE BIEN-ÊTRE</a></li>
        <li><a href="#">FABIENNE ILIC</a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt="">MON COMPTE</a></li>

      </ul> --}}
    </nav>

  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>