<section id="about">

    <div class="header-about">
        <h1>Fabienne ILIC - Présentation de la praticienne</h1>
        <p>Avec le recul, je me dis que j’avais trouvé intuitivement une façon de me libérer du mental et de mes
            souffrances en revenant à l’instant présent dans la pratique artistique. Je ne savais pas alors que j’étais
            en état d’hypnose ou transe…Je vivais un état de conscience modifié. En effet, un artiste explore souvent
            cette zone lors d’un processus de création… <br><br>
            De plus, un artiste cherche inconsciemment à hypnotiser son auditoire. L’art est un support de partage avec
            l’autre. Lorsque j’ai effectué ma formation à l’ARCHE à Paris, j’ai constaté que la pratique de l’hypnose
            était un art également et j’ai aimé le côté créatif et varié de cette discipline mais également le contact
            humain. La créativité est la capacité à trouver des solutions nouvelles à des problèmes : adaptabilité,
            ressources, talent… Elle permet de sortir de ses fonctionnements habituels pour laisser émerger de nouvelles
            idées.
        </p>
        <img src="images/fabienne-ilic.png" alt="Fabienne ILIC">
    </div>

    <div class="parcours-fab">

        <h2>MON PARCOURS</h2>
        <ul>
            <li>Maître Praticien en Hypnose Ericksonienne, certifiée par l’Ecole de psychothérapie Psynapse à Paris.
            </li>
            <li>Praticien et en Hypnose Ericksonienne, certifiée de l’Académie pour la Recherche et la Connaissance de
                l’Hypnose Ericksonienne (ARCHE) à Paris. Utilisation de la méthode RITMO (Méthode dérivée de l’EMDR),
                très
                efficace pour les traumas ou chocs émotionnels.</li>
            <li>Praticien en Hypno-magnétisme certifiée par l’Ecole de Psychothérapie PSYNAPSE à Paris.</li>
            <li> Formée à la technique Flash-Connexion, magnétisme moderne curatif, thérapie brève pour les maux
                physiques ou
                d’origine énergétique dans leur ensemble par ARC Formation à Paris.</li>
            <li> Sophrologue certifiée par l’Ecole E.S.L à Paris.</li>
        </ul>

    </div>

    <div>

        <section id="seances">

            <div id="container-seances">
                <h2>LES SEANCES</h2>
                <div class="container-seance">
                    <h3>SEANCE D'HYPNOSE</h3>
                    <div class="container-links">
                        <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                        <div> <a href="/hypnotherapeute">EN SAVOIR PLUS</a> </div>
                    </div>
                </div>
                <div class="container-seance">
                    <h3>SEANCE DE SOPHROLOGIE</h3>
                    <div class="container-links">
                        <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                        <div> <a href="/sophrologue">EN SAVOIR PLUS</a> </div>
                    </div>
                </div>
                <div class="container-seance">
                    <h3>SEANCE DE MAGNETISME</h3>
                    <div class="container-links">
                        <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                        <div> <a href="/magnetiseur">EN SAVOIR PLUS</a> </div>
                    </div>
                </div>
            </div>


        </section>

    </div>

    <section class="quote">
        <div class="guillemet-left"><img src="images/quote-left.png" alt="guillemet gauche"></div>
        <blockquote class="text-quote">Il n’y a rien de plus réellement artistique que d’aimer les gens</blockquote>
        <div class="guillemet-right"><img src="images/quote-right.png" alt="guillemet droite"></div>
        <div class="author-quote">Van GOGH</div>

    </section>

</section>