<section id="create-article">
  <h2>Créer un article</h2>
  <form action="/articles/create" method="POST" enctype="multipart/form-data">
    <label>
      <h3>Titre</h3>
      <input type="text" name="title" />
    </label>

    <label>
      <h3>Image</h3>
      <input type="file" name="image" />
    </label>

    <label>
      <h3>Vidéo</h3>
      <input type="text" name="video" />
    </label>

    <label>
      <h3> Description</h3>

      <textarea type="text" name="description"></textarea>
    </label>

    <button>Créer un article</button>

  </form>
</section>