<div id="article">
  <h2>Créer un article</h2>
  <form action="/articles/create" method="POST" enctype="multipart/form-data">
    <label>
      Titre
      <input type="text" name="title" />
    </label>

    <label>
      Image
      <input type="file" name="image" />
    </label>

    <label>
      Vidéo
      <input type="text" name="video" />
    </label>

    <label>
      Description
      <textarea type="text" name="description"></textarea>
    </label>

    <button>Créer un article</button>

  </form>
</div>