body {
  width: auto;

  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 53px;
  font-weight: lighter;

  color: #707070;
}

h2 {
  color: #989898;
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

h3 {
  color: #989898;
  font-size: 21px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

p {
  line-height: 22px;
  letter-spacing: 1.5px;
  color: #707070;
  font-size: 16px;
}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
  max-width: 100%;
}

/* conserver le ratio des images */

img {
  height: auto;
}

textarea,
table,
td,
th,
code,
pre,
samp {
  -webkit-hyphens: auto;
  /* césure propre */
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  /* passage à la ligne forcé */
}

/* ////////// MENU PRINCIPAL /////////// */

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;

  position: fixed;
  box-shadow: 1px 4px 25px 3px rgb(0 0 0 / 10%);
  background-color: white;
  z-index: 99999;
}

#logo-mobile {
}

#logo-desktop {
  margin-left: 35px;
  border-radius: 50%;
}

.btn-rdv-desktop {
  display: flex;
  align-items: center;
  width: 267px;
  justify-content: space-evenly;
  background-color: #cee4f7;
  height: 50px;
  border-radius: 12px;
  padding-left: 21px;
  padding-right: 21px;
}

.btn-account-desktop {
  display: flex;
  align-items: center;
  width: 204px;
  justify-content: space-between;
}

.navbar .menu-desktop {
  display: none;
}

.menu-mobile {
  display: flex;
  height: 100px;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}

.btn-rdv-mobile {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  background: #cee4f7;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

/* ACCOUNT MENU  */

#mobile-account.active {
  display: none;
}

#mobile-account {
  border: 2px solid #cee4f7;
  position: absolute;
  top: 0px;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  right: 0px;
  left: 0px;
  width: auto;
  height: 560px;
  align-items: flex-start;
}

#mobile-account ul {
  list-style: none;
}

#mobile-account a {
  font-weight: lighter;
  color: #707070;
}

#mobile a {
  font-weight: lighter;
  color: #707070;
}

#mobile a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

#mobile-account a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

#mobile-account li:first-child {
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
  line-height: 45px;
  letter-spacing: 0.5px;
}

#mobile-account li {
  font-size: 20px;
  letter-spacing: 2.5px;
  line-height: 27px;
  padding: 12px;
}

#mobile-account li:hover {
  background-color: RGBa(200, 200, 200, 0.1);
}

#mobile li {
  padding: 5px;
}

#mobile li:hover {
  background-color: RGBa(200, 200, 200, 0.1);
}

.close {
  position: absolute;
  right: 18px;
  top: 27px;
  font-size: 30px;
}

/* Menu  */

#mobile.active {
  display: none;
}

#mobile {
  border: 2px solid #cee4f7;
  position: absolute;
  top: 0px;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  right: 0px;
  left: 0px;
  width: auto;
  height: 560px;
  align-items: flex-start;
}

#mobile ul {
  list-style: none;
}

#mobile li:first-child {
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
  line-height: 45px;
  letter-spacing: 0.5px;
}

#mobile li {
  font-size: 20px;
  letter-spacing: 2.5px;
  line-height: 27px;
}

.close {
  position: absolute;
  right: 18px;
  top: 27px;
  font-size: 30px;
}

#video-hp > video {
  right: 0px;
  left: 0px;
  width: 100vw;
  height: 547px;
  position: absolute;
}

@media (min-width: 1415px) {
  .navbar .menu-mobile {
    display: none;
  }

  .navbar .menu-desktop {
    height: 100px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }

  .menu-desktop {
    display: flex;
    align-items: center;
  }

  .navbar .menu-desktop a {
    margin-right: 3em;
  }

  .navbar .menu-desktop a:last-child {
    font-weight: lighter;
    color: #707070;
    padding-left: 20px;

    width: 391px;
  }

  #video-hp {
    height: 800px;
  }

  #video-hp > video {
    height: 793px;
  }

  .youtube-iphrame {
    height: 800px;
    width: 100vw;
  }

  .line-menu {
    background: #707070;
    height: 24px;
    width: 1px;
  }

  .menu-desktop > ul {
    list-style-type: none;
  }

  .menu-desktop > ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    right: 40px;
    list-style: none;
  }

  .menu-desktop a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    letter-spacing: 0.7px;
  }

  .menu-desktop a:hover {
    color: #ffbc41;
    border-bottom: 2px solid #ffbc41;
  }

  .menu-desktop a:first-child:hover {
    border-bottom: none;
  }

  .btn-rdv-desktop a:hover {
    color: black;
  }

  .menu-desktop li:hover {
    color: #ffbc41;
    border-bottom: 2px solid #ffbc41;
  }

  .sous {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
    position: absolute;
    width: 400px;
    z-index: 1000;
  }

  .menu-desktop > ul li:hover .sous {
    display: flex;
    flex-direction: column;
    /* width: 100%; */

    padding-left: 40px;
  }

  .sous li {
    flex: 1 1 auto;
    text-align: left;
  }

  .sous a {
    padding: 30px;
    border-bottom: none;
    letter-spacing: 0.7px;
    text-align: left;
  }

  .sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
  }

  .deroulant > a::after {
    content: " ▼";
    font-size: 12px;
  }
}

/* ICONS MENU  */

.img-icon-menu {
  width: 20px;
}

/* TRAITS VERTICALS MENU */

.trait-vertical-menu {
  height: 15px;
  width: 2px;
  background: red;
}

/* VIDEO  */

#video-hp {
  height: 550px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px 155px;
  background-color: rgb(171, 210, 245, 0.4);
}

.youtube-iphrame {
  height: 482px;
  width: 100vw;
}

@media (min-width: 1045px) {
  #video-hp {
    height: 800px;
    order: 4;
  }

  .youtube-iphrame {
    height: 800px;
    width: 100vw;
  }

  .size-image-practicien {
    order: 4;
  }
}

/* CONTAINER PUSH A PROPOS */

#container-push-about-hp {
  height: 1008px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.push {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 100vw;
}

.push p {
  text-align: left;
  width: auto;
  line-height: 23px;
  margin-left: 49px;
}

.push a {
  text-decoration: none;
  color: black;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 21px;
}

.arrow-link {
  height: 15px;
}

.container-presentation {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1045px) {
  #container-push-about-hp {
    height: 600px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .push p {
    width: 573px;
    color: #707070;
  }

  .push {
    flex-direction: row;
    justify-content: space-around;
  }

  .container-presentation {
    display: flex;
    flex-direction: column;
  }

  .size-image-practicien > img {
    max-width: 410px;
  }

  .container-presentation > h1 {
    margin-right: 308px;
  }
}

.size-image-practicien {
  padding-top: 35px;
}

.size-image-practicien > img {
  height: 320px;
  width: 100%;
  height: auto;
}

@media (min-width: 1380px) {
  #container-push-about-hp {
    flex-wrap: nowrap;
  }
}

@media (max-width: 1455px) {
}

/* MODULE CITATION */

.quote {
  height: 600px;
  background: #faf1d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 115px;
}

.text-quote {
  font-size: 35px;
  font-style: italic;
  color: #707070;
}

.author-quote {
  position: absolute;
  bottom: 26px;
  right: 33px;
  font-size: 25px;
  color: #707070;
}

.guillemet-left {
  position: absolute;
  top: 148px;
  left: 10px;
}

.guillemet-left > img {
  height: 50px;
}

.guillemet-right {
  position: absolute;
  bottom: 69px;
  right: 0px;
}

.guillemet-right > img {
  height: 50px;
}

/* LES SEANCES */

#seances {
}

.container-seance {
  height: 120px;
  width: auto;
  background: #e9f4fd;
  display: flex;
  align-items: center;
}

.container-seance > h3 {
  margin-left: 27px;
  width: 128px;
}

#container-seances {
  display: flex;
  flex-direction: column;
  height: 715px;
  justify-content: space-evenly;
}

#container-seances > h2 {
  margin-left: auto;
  margin-right: auto;
}

.container-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  height: 66px;
}

@media (min-width: 1045px) {
  #seances {
    position: relative;
  }

  #container-seances {
    display: flex;
    flex-direction: row;
    height: 273px;
    justify-content: space-evenly;
    margin-top: 265px;
  }

  #container-seances > h2 {
    position: absolute;
    top: -233px;
    left: 31px;
  }

  .container-seance {
    height: 120px;
    width: 468px;
    background: #e9f4fd;
    display: flex;
    align-items: center;
    border: 2px solid white;
  }
}

/* ARTICLE DU MOMENT */

#article-du-moment {
  height: 866px;
  background: #d8ebfc;
  position: relative;
  display: flex;
  margin-top: 68px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.container-article-hp {
  margin-top: 54px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;

  align-items: center;
  justify-content: space-around;
}

.container-article-hp > img {
  max-width: 100%;
  height: 108px;
}

.container-article-hp > a {
  margin-left: auto;
  margin-right: 20px;
}

.container-article-hp > p {
  max-width: 755px;
}

.container-article-hp > h3 {
  color: #78b8ec;
  font-size: 25px;
}

.title-article {
  text-align: center;
  padding-top: 60px;
}

.container-slider {
  display: flex;

  width: 100vw;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.container-infos {
  display: flex;
  flex-direction: column;
  margin-left: 955px;
  width: 464px;
}

@media (min-width: 1450px) {
  .title-article {
    position: absolute;
    left: 25px;
    padding-top: 60px;
  }

  .container-article-hp > a {
    margin-left: auto;
    margin-right: 20px;
  }

  .container-article-hp > img {
    position: absolute;
    height: 400px;
    left: 400px;
  }

  .container-article-hp > h3 {
    margin-right: auto;
  }

  .container-article-hp {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    width: 1718px;
    align-items: center;
    justify-content: center;
    padding-right: 428px;
  }

  #article-du-moment > h2 {
    top: -87px;
    position: absolute;
    left: 25px;
  }

  #article-du-moment {
    margin-top: 162px;
  }

  .container-article-hp > p {
    max-width: 600px;
  }

  .container-slider {
    display: flex;

    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .container-slider::-webkit-scrollbar {
    display: none;
  }

  .container-infos {
    display: flex;
    flex-direction: column;
    margin-left: 955px;
    width: 464px;
  }

  .container-infos a {
    margin-left: auto;
  }

  .arr-left {
    position: absolute;
    left: 200px;
    top: 400px;
    cursor: pointer;
  }

  .arr-right {
    position: absolute;
    left: 1544px;
    top: 400px;
    cursor: pointer;
  }
  #slider1 > img {
    display: block;
  }

  #slider2 > img {
    display: none;
  }

  #slider3 > img {
    display: none;
  }
}

.link-articles {
  position: absolute;
  right: 25px;
  margin-top: 9px;
}

.link-articles > a {
  font-size: 18px;
}

/* SECTION TEMOIGNAGES */

#temoignages {
  height: 385px;
  background: #d8ebfc;
  margin-top: 200px;
  display: flex;
}

.container-avis {
  display: flex;
  height: 500px;
  margin-top: 85px;
  flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title-avis {
  color: #1f9bac;
  margin-left: 25px;
}

.author-avis {
  margin-left: auto;
  margin-right: 58px;
  font-size: 20px;
}

@media (min-width: 1045px) {
  #temoignages {
    height: 385px;
    background: #d8ebfc;
    margin-top: 200px;
    display: flex;
    align-items: center;
  }

  .container-avis {
    width: 600px;
    display: flex;
    height: 600px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -17px;
  }
}

/* 
slider-temoignage  */

#slider {
  display: flex;
  overflow-y: scroll;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  flex-direction: column;
}

/* temoignages all temoignages */

.avis {
  background: #f5e5b3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  border-bottom: 50px solid white;
}

.signature {
  margin-left: auto;
  margin-right: 30px;
  font-size: 20px;
}

.paragraph {
  margin-left: 35px;
  width: auto;
}

.avis h3 {
  margin-left: 35px;
}

#all-avis {
  padding-top: 80px;
}

#all-avis h1 {
  margin-left: 25px;
}

#all-avis > p {
  margin-left: 35px;
  width: 475px;
  padding-bottom: 70px;
}

/* 

#slider,
ul {
  height: 200px;
}

#slider {
  margin: auto;
  overflow: hidden;
  padding: 20px;
  margin-top: 50px;
  position: relative;
  width: 600px;
}

#slider li {
  float: left;
  position: relative;
  width: 600px;
  display: inline-block;
  height: 200px;
}

#slider ul {
  list-style: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 9000px;
  transition: left .2s linear;
  -moz-transition: left .2s linear;
  -o-transition: left .2s linear;
  -webkit-transition: left .2s linear;
  margin-left: -25px;
  font-family: open sans;
  color: #666;
} */

/*** Content ***/

/* .slider-container {
  color: #000;
  margin: 0 auto;
  padding: 0;
  width: 550px;
  min-height: 180px;
  text-align: center;
}

.slider-container h2 {
  color: #fff;
}

.slider-container p {
  margin: 10px 25px;
  font-weight: semi-bold;
  line-height: 150%;
} */

/*** target hooks ****/
/* 
@-webkit-keyframes slide-animation {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  20% {
    left: 0px;
    opacity: 1;
  }

  22.5% {
    opacity: 0.6;
  }

  25% {
    left: -600px;
    opacity: 1;
  }

  45% {
    left: -600px;
    opacity: 1;
  }

  47.5% {
    opacity: 0.6;
  }

  50% {
    left: -1200px;
    opacity: 1;
  }

  70% {
    left: -1200px;
    opacity: 1;
  }

  72.5% {
    opacity: 0.6;
  }

  75% {
    left: -1800px;
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  98% {
    left: -1800px;
    opacity: 0;
  }

  100% {
    left: 0px;
    opacity: 0;
  }
}

#slider ul {
  -webkit-animation: slide-animation 20s infinite;
}

#slider ul:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
} */

/* FOOTER MAP */

#map {
  height: 800px;
  display: flex;
  align-items: center;
  padding-left: 0px;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-around;
}

#map > img {
  order: 2;
  margin-top: 20px;
}

.localise {
  width: auto;
  margin-left: 0px;
}

.localise > h3 {
  color: #78b8ec;
  font-size: 25px;
  margin-left: 25px;
}

.localise > p {
  margin-left: 25px;
}

@media (min-width: 1400px) {
  #map {
    flex-direction: row;
    padding-left: 90px;
    margin-top: 0px;
  }

  #map > img {
    max-width: 610px;
    order: 1;
  }

  .localise {
    width: 600px;
  }
}

/* PIED DE PAGE  */

#global-footer {
  height: 623px;
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.links-footer {
  flex-direction: column;
  margin-top: 45px;
}

.links-footer > ul {
  list-style: none;
  line-height: 24px;
}

.links-footer li:first-child {
  font-size: 18px;
  line-height: 60px;
  background: #f5e5b3;
  display: block;
  width: 100vw;
}

.links-footer li {
  font-size: 15px;
  color: #707070;
  letter-spacing: 0.5px;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  margin-right: 25px;
  align-items: flex-end;
}

.container-bottom > img {
  max-width: 90px;
}

#global-footer a {
  margin-left: 35px;
  font-weight: 300;
}

.mentions {
  padding-left: 0px;
}

.container-bottom > span {
  margin-top: 0px;
}

@media (min-width: 825px) {
  #global-footer {
    height: 350px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    flex-direction: row;
  }

  .links-footer {
    display: flex;
    width: 900px;
    justify-content: space-around;
    flex-direction: row;
  }

  .links-footer li:first-child {
    display: inline;
    padding: 10px;
  }

  #global-footer a {
    margin-left: 0px;
  }

  .mentions {
    padding-left: 35px;
  }

  .container-bottom > img {
    max-width: 90px;
    margin-top: 134px;
  }

  .container-bottom > span {
    margin-top: auto;
    margin-bottom: 15px;
  }
}

/* //...............................................................................................
//.........................OOOOOOOO................GGGGGGGG......................................
//.LLLLL.................OOOOOOOOOOOO............GGGGGGGGGGGG......GIIIII...INNNNN.......NNNNNN..
//.LLLLL...............OOOOOOOOOOOOOOOO........GGGGGGGGGGGGGGG.....GIIIII...INNNNNN......NNNNNN..
//.LLLLL...............OOOOOOOOOOOOOOOOO......GGGGGGGGGGGGGGGGG....GIIIII...INNNNNN......NNNNNN..
//.LLLLL..............OOOOOOOOOOOOOOOOOO.....GGGGGGGGGGGGGGGGGGG...GIIIII...INNNNNNN.....NNNNNN..
//.LLLLL.............LOOOOOOO....OOOOOOOO....GGGGGGGG...GGGGGGGG...GIIIII...INNNNNNNN....NNNNNN..
//.LLLLL.............LOOOOOO......OOOOOOO...OGGGGGGG......GGGGGG...GIIIII...INNNNNNNN....NNNNNN..
//.LLLLL.............LOOOOO........OOOOOOO..OGGGGGG.......GGGGGGG..GIIIII...INNNNNNNNN...NNNNNN..
//.LLLLL............LLOOOOO........OOOOOOO..OGGGGG.........GGGGGG..GIIIII...INNNNNNNNN...NNNNNN..
//.LLLLL............LLOOOO..........OOOOOO..OGGGGG.................GIIIII...INNNNNNNNNN..NNNNNN..
//.LLLLL............LLOOOO..........OOOOOO..OGGGGG.................GIIIII...INNNNNNNNNN..NNNNNN..
//.LLLLL............LLOOOO..........OOOOOO.OOGGGG.....GGGGGGGGGGG..GIIIII...INNNN.NNNNNN.NNNNNN..
//.LLLLL............LLOOOO..........OOOOOO.OOGGGG.....GGGGGGGGGGG..GIIIII...INNNN..NNNNNNNNNNNN..
//.LLLLL............LLOOOO..........OOOOOO.OOGGGGG....GGGGGGGGGGG..GIIIII...INNNN..NNNNNNNNNNNN..
//.LLLLL............LLOOOO..........OOOOOO..OGGGGG....GGGGGGGGGGG..GIIIII...INNNN...NNNNNNNNNNN..
//.LLLLL............LLOOOOO........OOOOOOO..OGGGGG.....GGGGGGGGGG..GIIIII...INNNN...NNNNNNNNNNN..
//.LLLLL.............LOOOOO........OOOOOO...OGGGGGG........GGGGGG..GIIIII...INNNN....NNNNNNNNNN..
//.LLLLL.............LOOOOOO......OOOOOOO...OGGGGGG.......GGGGGGG..GIIIII...INNNN....NNNNNNNNNN..
//.LLLLLLLLLLLLLLLL..LOOOOOOO....OOOOOOOO....GGGGGGGG...GGGGGGGGG..GIIIII...INNNN.....NNNNNNNNN..
//.LLLLLLLLLLLLLLLL...OOOOOOOOOOOOOOOOOO.....GGGGGGGGGGGGGGGGGGGG..GIIIII...INNNN......NNNNNNNN..
//.LLLLLLLLLLLLLLLL....OOOOOOOOOOOOOOOO.......GGGGGGGGGGGGGGGGGGG..GIIIII...INNNN......NNNNNNNN..
//.LLLLLLLLLLLLLLLL....OOOOOOOOOOOOOOOO........GGGGGGGGGGGGGGGGGG..GIIIII...INNNN.......NNNNNNN..
//.LLLLLLLLLLLLLLLL......OOOOOOOOOOOO...........GGGGGGGGGGG.GGGGG..GIIIII...INNNN.......NNNNNNN..
//.........................OOOOOOOO...............GGGGGGGG.......................................
//............................................................................................... */

input {
  width: 100vw;
  height: 58px;
  border: 2px solid #cee4f7;
  font-size: 30px;
  padding-left: 15px;
}

button {
  margin-left: auto;
  margin-right: auto;
  background: #f5e5b3;
  border: none;
  padding: 14px 85px;
  font-size: 20px;
  color: #989898;
}

select {
  width: 100vw;
  border: 2px solid #cee4f7;
  font-size: 30px;
  padding: 45px;
}

textarea {
  width: 100vw;
  border: 2px solid #cee4f7;
  font-size: 30px;
  height: 215px;
}

select option {
  border: 1px solid #f5e5b3;
  padding: 8px;
  margin: 10px;
}

.form-login input {
  width: 100vw;

  border: 2px solid #cee4f7;
}

@media (min-width: 825px) {
  input {
    width: 739px;
    height: 40px;
    border: 2px solid #cee4f7;
    font-size: 20px;
    margin-left: 30px;
  }

  textarea {
    font-size: 20px;
    width: 1650px;
  }

  select {
    font-size: 20px;
    width: 757px;
    margin-left: 30px;
  }

  .form-login input {
    width: 739px;
  }
}

#login {
  display: flex;
  flex-direction: column;
  padding-top: 85px;
}

#login h1 {
  margin-left: 30px;
  width: auto;
}

#login p {
  margin-left: 30px;
  width: auto;
}

#login h3 {
  margin-left: 30px;
}

.form-login > div button {
  margin-left: auto;
  margin-right: auto;
  background: #f5e5b3;
  border: none;
  padding: 14px 85px;
  font-size: 20px;
  color: #989898;
}

.form-login {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-form {
  background: #f5e5b3;
}

/* //................................................................................................................................................................
//.........................OOOOOOOO...............................................................................................................................
//.FFFFFFFFFFFFFFFF......OOOOOOOOOOOO.......ORRRRRRRRRRRRRRR......RMMMMMMM......MMMMMMMM........... RRRRRRRRRRRRRRR......RDDDDDDDDDDDDDD.....DDVVVV........VVVVV..
//.FFFFFFFFFFFFFFFF....OOOOOOOOOOOOOOOO.....ORRRRRRRRRRRRRRRRR....RMMMMMMM......MMMMMMMM........... RRRRRRRRRRRRRRRRR....RDDDDDDDDDDDDDDD....DDVVVVV.......VVVVV..
//.FFFFFFFFFFFFFFFF....OOOOOOOOOOOOOOOOO....ORRRRRRRRRRRRRRRRR....RMMMMMMM......MMMMMMMM........... RRRRRRRRRRRRRRRRR....RDDDDDDDDDDDDDDDD....DVVVVV......VVVVVV..
//.FFFFFFFFFFFFFFFF...OOOOOOOOOOOOOOOOOO....ORRRRRRRRRRRRRRRRRR...RMMMMMMMM....MMMMMMMMM........... RRRRRRRRRRRRRRRRRR...RDDDDDDDDDDDDDDDDD...DVVVVV......VVVVVV..
//.FFFFFFFFFFFFFFFF..FOOOOOOO....OOOOOOOO...ORRRRRRRRRRRRRRRRRR...RMMMMMMMM....MMMMMMMMM........... RRRRRRRRRRRRRRRRRR...RDDDDDDDDDDDDDDDDD...DVVVVVV.....VVVVVV..
//.FFFFF.............FOOOOOO......OOOOOOO...ORRRRR.......RRRRRR...RMMMMMMMM....MMMMMMMMM........... RRRRR.......RRRRRR...RDDDDD......DDDDDDD...VVVVVV.....VVVVVV..
//.FFFFF.............FOOOOO........OOOOOOO..ORRRRR.......RRRRRR...RMMMMMMMM....MMMMMMMMM........... RRRRR.......RRRRRR...RDDDDD.......DDDDDD...VVVVVV....VVVVVV...
//.FFFFF............FFOOOOO........OOOOOOO..ORRRRR.......RRRRRR...RMMMMMMMM...MMMMMMMMMM........... RRRRR.......RRRRRR...RDDDDD.......DDDDDD...VVVVVV....VVVVVV...
//.FFFFFFFFFFFFFFF..FFOOOO..........OOOOOO..ORRRRR.......RRRRRR...RMMMMMMMMM..MMMMMMMMMM........... RRRRR.......RRRRRR...RDDDDD.......DDDDDD....VVVVVV...VVVVVV...
//.FFFFFFFFFFFFFFF..FFOOOO..........OOOOOO..ORRRRRRRRRRRRRRRRRR...RMMMMMMMMM..MMMMMMMMMM........... RRRRRRRRRRRRRRRRRR...RDDDDD.......DDDDDD....VVVVVV..VVVVVV....
//.FFFFFFFFFFFFFFF..FFOOOO..........OOOOOO..ORRRRRRRRRRRRRRRRR....RMMMMMMMMM..MMMMMMMMMM........... RRRRRRRRRRRRRRRRR....RDDDDD.......DDDDDD....VVVVVV..VVVVVV....
//.FFFFFFFFFFFFFFF..FFOOOO..........OOOOOO..ORRRRRRRRRRRRRRRR.....RMMMM.MMMM.MMMMMMMMMMM........... RRRRRRRRRRRRRRRR.....RDDDDD.......DDDDDD.....VVVVVV.VVVVVV....
//.FFFFFFFFFFFFFFF..FFOOOO..........OOOOOO..ORRRRRRRRRRRRRRRRR....RMMMM.MMMMMMMMMMMMMMMM........... RRRRRRRRRRRRRRRRR....RDDDDD.......DDDDDD.....VVVVVV.VVVVV.....
//.FFFFF............FFOOOO..........OOOOOO..ORRRRRRRRRRRRRRRRRR...RMMMM.MMMMMMMMMMMMMMMM........... RRRRRRRRRRRRRRRRRR...RDDDDD.......DDDDDD.....VVVVVVVVVVVV.....
//.FFFFF............FFOOOOO........OOOOOOO..ORRRRR......RRRRRRR...RMMMM.MMMMMMMMMMMMMMMM........... RRRRR......RRRRRRR...RDDDDD.......DDDDDD......VVVVVVVVVVV.....
//.FFFFF.............FOOOOO........OOOOOO...ORRRRR.......RRRRRR...RMMMM.MMMMMMMMM.MMMMMM........... RRRRR.......RRRRRR...RDDDDD......DDDDDDD......VVVVVVVVVV......
//.FFFFF.............FOOOOOO......OOOOOOO...ORRRRR.......RRRRRR...RMMMM..MMMMMMMM.MMMMMM........... RRRRR.......RRRRRR...RDDDDD.....DDDDDDD.......VVVVVVVVVV......
//.FFFFF.............FOOOOOOO....OOOOOOOO...ORRRRR.......RRRRRR...RMMMM..MMMMMMMM.MMMMMM........... RRRRR.......RRRRRR...RDDDDDDDDDDDDDDDDD........VVVVVVVVV......
//.FFFFF..............OOOOOOOOOOOOOOOOOO....ORRRRR.......RRRRRR...RMMMM..MMMMMMMM.MMMMMM........... RRRRR.......RRRRRR...RDDDDDDDDDDDDDDDDD........VVVVVVVV.......
//.FFFFF...............OOOOOOOOOOOOOOOO.....ORRRRR.......RRRRRR...RMMMM..MMMMMMM..MMMMMM........... RRRRR.......RRRRRR...RDDDDDDDDDDDDDDDD.........VVVVVVVV.......
//.FFFFF...............OOOOOOOOOOOOOOOO.....ORRRRR.......RRRRRRR..RMMMM...MMMMMM..MMMMMM........... RRRRR.......RRRRRRR..RDDDDDDDDDDDDDDD...........VVVVVVV.......
//.FFFFF.................OOOOOOOOOOOO.......ORRRRR.......RRRRRRR..RMMMM...MMMMMM..MMMMMM........... RRRRR.......RRRRRRR..RDDDDDDDDDDDDDD............VVVVVV........
//.........................OOOOOOOO...............................................................................................................................
//................................................................................................................................................................ */

#rdv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding-top: 63px;
}

#rdv h1 {
  margin-left: 30px;
  width: auto;
}

#rdv h3 {
  margin-left: 30px;
  padding-top: 35px;
}

#rdv p {
  width: auto;
  text-align: justify;
  margin-left: 30px;
}

.form-rdv {
  display: flex;
  flex-direction: column;
}

.form-rdv button {
  margin-top: 50px;
}

@media (min-width: 825px) {
  #rdv p {
    width: 625px;
  }

  .form-rdv {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
}

/* //...........................................................................................................................................................................................
//..........................................................................iiiii............................................................................................................
//..........................................................................iiiiii...........................................................................................................
//...ttttt..................................................................iiiiii...........................................................................................................
//...ttttt..................................................................iiiiii...........................................................................................................
//...ttttt..................................................................iiiiii...........................................................................................................
//...ttttt..................................................................iiiiii...........................................................................................................
//.tttttttttt....eeeeeeee......mmmmm.mmmmmm...mmmmmmm........ooooooooo......iiiiii.....ggggggg.ggggg...nnnnn.nnnnnnn........aaaaaaaa........ggggggg.ggggg......eeeeeeee........sssssssss.....
//.tttttttttt...eeeeeeeeeee....mmmmmmmmmmmmm.mmmmmmmmm......ooooooooooo.....iiiiii....gggggggggggggg...nnnnnnnnnnnnnn.....aaaaaaaaaaaa.....gggggggggggggg.....eeeeeeeeeee.....sssssssssss....
//.tttttttttt..eeeeeeeeeeeee...mmmmmmmmmmmmmmmmmmmmmmm....oooooooooooooo....iiiiii...ggggggggggggggg...nnnnnnnnnnnnnnn...aaaaaaaaaaaaaa...ggggggggggggggg....eeeeeeeeeeeee...sssssssssssss...
//.tttttttttt.eeeeeeeeeeeeee...mmmmmmmmmmmmmmmmmmmmmmmm...ooooooooooooooo...iiiiii...ggggggggggggggg...nnnnnnnnnnnnnnn...aaaaaaaaaaaaaa...ggggggggggggggg...eeeeeeeeeeeeee..sssssssssssssss..
//.tttttttttt.eeeeeeeeeeeeeee..mmmmmmmmmmmmmmmmmmmmmmmm..oooooooooooooooo...iiiiii..gggggggggggggggg...nnnnnnnnnnnnnnn...aaaaaaaaaaaaaa..gggggggggggggggg..eeeeeeeeeeeeeee..sssssss.sssssss..
//...ttttt...eeeeeee...eeeeee..mmmmmm...mmmmmmm..mmmmmm..ooooooo...ooooooo..iiiiii..gggggg...ggggggg...nnnnnn...nnnnnn..aaaaaa....aaaaa..ggggggg..ggggggg..eeeeee....eeeeee.ssssss...ssssss..
//...ttttt...eeeeee....eeeeee..mmmmmm...mmmmmm...mmmmmm..oooooo.....oooooo..iiiiii..gggggg....gggggg...nnnnn.....nnnnn...aaaaa.aaaaaaaa..gggggg....gggggg..eeeeee....eeeeee.ssssssssss.......
//...ttttt...eeeeeeeeeeeeeeee..mmmmmm...mmmmmm....mmmmm..ooooo......oooooo..iiiiii.iggggg.....gggggg...nnnnn.....nnnnn.....aaaaaaaaaaaa..gggggg.....ggggg..eeeeeeeeeeeeeeee.sssssssssssss....
//...ttttt...eeeeeeeeeeeeeeee..mmmmmm...mmmmmm....mmmmm..ooooo......oooooo..iiiiii.iggggg......ggggg...nnnnn.....nnnnn...aaaaaaaaaaaaaa..ggggg......ggggg..eeeeeeeeeeeeeeee..sssssssssssss...
//...ttttt...eeeeeeeeeeeeeeee..mmmmmm...mmmmmm....mmmmm..ooooo......oooooo..iiiiii.iggggg.....gggggg...nnnnn.....nnnnn...aaaaaaaaaaaaaa..ggggg......ggggg..eeeeeeeeeeeeeeee...sssssssssssss..
//...ttttt...eeeeeeeeeeeeeeee..mmmmmm...mmmmmm....mmmmm..ooooo......oooooo..iiiiii.iggggg.....gggggg...nnnnn.....nnnnn..aaaaaaaaa.aaaaa..gggggg.....ggggg..eeeeeeeeeeeeeeee....ssssssssssss..
//...ttttt...eeeeee.....eeeee..mmmmmm...mmmmmm....mmmmm..oooooo.....oooooo..iiiiii..gggggg....gggggg...nnnnn.....nnnnn..aaaaaa....aaaaa..gggggg....gggggg..eeeeee.....eeeee.sssss..ssssssss..
//...ttttt...eeeeeee...eeeeee..mmmmmm...mmmmmm....mmmmm..ooooooo...ooooooo..iiiiii..ggggggg.gggggggg...nnnnn.....nnnnn..aaaaaa...aaaaaa..gggggggg.ggggggg..eeeeeee...eeeeee.ssssss...ssssss..
//...tttttttt.eeeeeeeeeeeeeee..mmmmmm...mmmmmm....mmmmm..oooooooooooooooo...iiiiii..gggggggggggggggg...nnnnn.....nnnnn..aaaaaaaaaaaaaaa..gggggggggggggggg..eeeeeeeeeeeeeeee.sssssssssssssss..
//...tttttttt.eeeeeeeeeeeeeee..mmmmmm...mmmmmm....mmmmm...ooooooooooooooo...iiiiii...ggggggggggggggg...nnnnn.....nnnnn..aaaaaaaaaaaaaaa...ggggggggggggggg...eeeeeeeeeeeeee..sssssssssssssss..
//...tttttttt..eeeeeeeeeeeee...mmmmmm...mmmmmm....mmmmm....ooooooooooooo....iiiiii...ggggggggggggggg...nnnnn.....nnnnn...aaaaaaaaaaaaaaa...gggggggggggggg....eeeeeeeeeeeee...sssssssssssss...
//....ttttttt...eeeeeeeeeee....mmmmmm...mmmmmm....mmmmm.....ooooooooooo.....iiiiii.....ggggggggggggg...nnnnn.....nnnnn...aaaaaaaaaaaaaaa....ggggggggggggg.....eeeeeeeeee......ssssssssssss...
//.....tttttt.....eeeeeee.....................................ooooooo.....................gg..gggggg.......................aaaaa...............gg...ggggg.......eeeeeee........sssssssss.....
//..................................................................................gggggg....gggggg.....................................gggggg....gggggg....................................
//..................................................................................gggggggggggggggg.....................................gggggggggggggggg....................................
//..................................................................................ggggggggggggggg......................................gggggggggggggggg....................................
//...................................................................................gggggggggggggg.......................................gggggggggggggg.....................................
//....................................................................................gggggggggggg.........................................gggggggggggg......................................
//......................................................................................gggggggg.............................................gggggggg........................................
//........................................................................................................................................................................................... */

#form-avis {
  padding-top: 85px;
}

/* //...........................................................................................................................................................................
//..iiiii..................................................................iiiii................................iiiii........................................................
//.iiiiii..................................................................iiiiii...............................iiiii........................................................
//.iiiiii..................................................................iiiiii.....................tttttt....iiiii........................................................
//.iiiiii..................................................................iiiiii.....................tttttt....iiiii........................................................
//.iiiiii..................................................................iiiiii.....................tttttt....iiiii........................................................
//.iiiiii..................................................................iiiiii.....................tttttt....iiiii........................................................
//.iiiiii...nnnnn.nnnnnnn........ssssssss.........cccccccc.....crrrrr.rrrr.iiiiii..ipppp.ppppppp....pptttttttt..iiiii......ooooooooo......onnnnn.nnnnnn........sssssssss.....
//.iiiiii...nnnnnnnnnnnnnn.....ssssssssssss......ccccccccccc...crrrrrrrrrr.iiiiii..ippppppppppppp...pptttttttt..iiiii.....oooooooooooo....onnnnnnnnnnnnnn.....sssssssssss....
//.iiiiii...nnnnnnnnnnnnnnn...ssssssssssssss...ccccccccccccc...crrrrrrrrrr.iiiiii..ipppppppppppppp..pptttttttt..iiiii....oooooooooooooo...onnnnnnnnnnnnnn....sssssssssssss...
//.iiiiii...nnnnnnnnnnnnnnn...ssssssssssssss...cccccccccccccc..crrrrrrrrrr.iiiiii..ippppppppppppppp.pptttttttt..iiiii...ooooooooooooooo...onnnnnnnnnnnnnnn..nssssssssssssss..
//.iiiiii...nnnnnnnnnnnnnnn...ssssss..ssssss..scccccccccccccc..crrrrrrrrrr.iiiiii..ippppppppppppppp.pptttttttt..iiiii...oooooooooooooooo..onnnnnnnnnnnnnnn..nssssss.sssssss..
//.iiiiii...nnnnnn...nnnnnn...ssssss...sssss..scccccc..ccccccc.crrrrrrrr...iiiiii..ipppppp...ppppppp..tttttt....iiiii..ioooooo....oooooo..onnnnnn...nnnnnn..nsssss...ssssss..
//.iiiiii...nnnnn.....nnnnn...ssssssssss......sccccc....cccccc.crrrrrr.....iiiiii..ippppp.....pppppp..tttttt....iiiii..iooooo.....oooooo..onnnnn....nnnnnn..nsssssssss.......
//.iiiiii...nnnnn.....nnnnn...ssssssssssss....sccccc...........crrrrr......iiiiii..ippppp.....pppppp..tttttt....iiiii..iooooo......oooooo.onnnnn....nnnnnn..nssssssssssss....
//.iiiiii...nnnnn.....nnnnn...ssssssssssssss..scccc............crrrrr......iiiiii..ippppp.....pppppp..tttttt....iiiii..iooooo......oooooo.onnnnn....nnnnnn...sssssssssssss...
//.iiiiii...nnnnn.....nnnnn....sssssssssssss..scccc............crrrrr......iiiiii..ippppp.....pppppp..tttttt....iiiii..iooooo......oooooo.onnnnn....nnnnnn....sssssssssssss..
//.iiiiii...nnnnn.....nnnnn......ssssssssssss.sccccc....ccccc..crrrrr......iiiiii..ippppp.....pppppp..tttttt....iiiii..iooooo......oooooo.onnnnn....nnnnnn.....ssssssssssss..
//.iiiiii...nnnnn.....nnnnn..nsssss.sssssssss.sccccc....cccccc.crrrrr......iiiiii..ippppp.....pppppp..tttttt....iiiii..iooooo.....oooooo..onnnnn....nnnnnn..nssss..ssssssss..
//.iiiiii...nnnnn.....nnnnn..nsssss....ssssss.scccccc..cccccc..crrrrr......iiiiii..ipppppp...pppppp...tttttt....iiiii...oooooo...ooooooo..onnnnn....nnnnnn..nsssss...ssssss..
//.iiiiii...nnnnn.....nnnnn..nsssssssssssssss.scccccccccccccc..crrrrr......iiiiii..ippppppppppppppp...tttttttt..iiiii...oooooooooooooooo..onnnnn....nnnnnn..nssssssssssssss..
//.iiiiii...nnnnn.....nnnnn...sssssssssssssss..cccccccccccccc..crrrrr......iiiiii..ippppppppppppppp...tttttttt..iiiii....oooooooooooooo...onnnnn....nnnnnn..nssssssssssssss..
//.iiiiii...nnnnn.....nnnnn...ssssssssssssss...ccccccccccccc...crrrrr......iiiiii..ipppppppppppppp....tttttttt..iiiii....oooooooooooooo...onnnnn....nnnnnn...sssssssssssss...
//.iiiiii...nnnnn.....nnnnn....ssssssssssss......cccccccccc....crrrrr......iiiiii..ippppppppppppp......ttttttt..iiiii.....ooooooooooo.....onnnnn....nnnnnn....ssssssssssss...
//...............................ssssssss.........ccccccc..........................ippppp.ppppp..........ttttt..............oooooooo...........................sssssssss.....
//.................................................................................ippppp....................................................................................
//.................................................................................ippppp....................................................................................
//.................................................................................ippppp....................................................................................
//.................................................................................ippppp....................................................................................
//.................................................................................ippppp....................................................................................
//.................................................................................ippppp....................................................................................
//........................................................................................................................................................................... */

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding-top: 80px;
}

#signup h1 {
  margin-left: 30px;
  width: auto;
}

#signup h3 {
  margin-left: 30px;
  padding-top: 35px;
}

#signup p {
  width: auto;
  text-align: justify;
  margin-left: 30px;
}

.signup-rdv {
  display: flex;
  flex-direction: column;
}

.signup-rdv button {
  margin-top: 50px;
}

@media (min-width: 825px) {
  #signup p {
    width: 625px;
  }

  .signup-rdv {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
}

/* //...........................................................................................................................................................
//.............ddddd....................................hhhhhh............bbbbbb......................................................................ddddd..
//.............ddddd....................................hhhhhh............bbbbbb......................................................................ddddd..
//.............ddddd....................................hhhhhh............bbbbbb......................................................................ddddd..
//.............ddddd....................................hhhhhh............bbbbbb......................................................................ddddd..
//.............ddddd....................................hhhhhh............bbbbbb......................................................................ddddd..
//.....ddddddd.ddddd.....aaaaaaaaa........ssssssss......hhhhhhhhhhhhh.....bbbbbbbbbbbbb.........ooooooooo.........aaaaaaaa......rrrrr.rrrr....ddddddd.ddddd..
//....dddddddddddddd....aaaaaaaaaaa.....ssssssssssss....hhhhhhhhhhhhhh....bbbbbbbbbbbbbb.......ooooooooooo......aaaaaaaaaaaa...rrrrrrrrrrr...dddddddddddddd..
//...ddddddddddddddd...aaaaaaaaaaaaa....sssssssssssss...hhhhhhhhhhhhhhh...bbbbbbbbbbbbbbb....oooooooooooooo....aaaaaaaaaaaaaa..rrrrrrrrrrr..ddddddddddddddd..
//...ddddddddddddddd..aaaaaaaaaaaaaaa..ssssssssssssss...hhhhhhhhhhhhhhhh..bbbbbbbbbbbbbbbb...ooooooooooooooo...aaaaaaaaaaaaaa..rrrrrrrrrrr..ddddddddddddddd..
//..dddddddddddddddd..aaaaaaaaaaaaaaa..sssssss.sssssss..hhhhhhhhhhhhhhhh..bbbbbbbbbbbbbbbb..oooooooooooooooo...aaaaaaaaaaaaaa..rrrrrrrrrrr.dddddddddddddddd..
//..dddddd...ddddddd..aaaaaa...aaaaaa..ssssss...ssssss..hhhhhhh...hhhhhh..bbbbbbb...bbbbbbb.ooooooo...ooooooo.aaaaaa....aaaaa..rrrrrrrrr...dddddd...ddddddd..
//..dddddd....dddddd..aaaaa..aaaaaaaa..ssssssssss.......hhhhhh....hhhhhh..bbbbbb.....bbbbbb.oooooo.....oooooo..aaaaa.aaaaaaaa..rrrrrrr.....dddddd....dddddd..
//.dddddd.....dddddd....aaaaaaaaaaaaa..sssssssssssss....hhhhhh....hhhhhh..bbbbbb.....bbbbbb.ooooo......oooooo....aaaaaaaaaaaa..rrrrrr.....rddddd.....dddddd..
//.dddddd......ddddd...aaaaaaaaaaaaaa..ssssssssssssss...hhhhhh....hhhhhh..bbbbbb.....bbbbbb.ooooo......oooooo..aaaaaaaaaaaaaa..rrrrrr.....rddddd......ddddd..
//.dddddd......ddddd..aaaaaaaaaaaaaaa...ssssssssssssss..hhhhhh....hhhhhh..bbbbbb.....bbbbbb.ooooo......oooooo..aaaaaaaaaaaaaa..rrrrrr.....rddddd......ddddd..
//.dddddd.....dddddd..aaaaaaaa.aaaaaa.....ssssssssssss..hhhhhh....hhhhhh..bbbbbb.....bbbbbb.ooooo......oooooo.aaaaaaaaa.aaaaa..rrrrrr.....rddddd.....dddddd..
//..dddddd....dddddd..aaaaaa...aaaaaa.asssss..ssssssss..hhhhhh....hhhhhh..bbbbbb.....bbbbbb.oooooo.....oooooo.aaaaaa....aaaaa..rrrrrr......dddddd....dddddd..
//..dddddd...ddddddd.daaaaa...aaaaaaa.asssss....ssssss..hhhhhh....hhhhhh..bbbbbbb...bbbbbbb.ooooooo...ooooooo.aaaaaa...aaaaaa..rrrrrr......dddddd...ddddddd..
//..dddddddddddddddd..aaaaaaaaaaaaaaa..sssssssssssssss..hhhhhh....hhhhhh..bbbbbbbbbbbbbbbb..oooooooooooooooo..aaaaaaaaaaaaaaa..rrrrrr......dddddddddddddddd..
//...ddddddddddddddd..aaaaaaaaaaaaaaa..sssssssssssssss..hhhhhh....hhhhhh..bbbbbbbbbbbbbbbb...ooooooooooooooo..aaaaaaaaaaaaaaa..rrrrrr.......ddddddddddddddd..
//...ddddddddddddddd..aaaaaaaaaaaaaaaa.ssssssssssssss...hhhhhh....hhhhhh..bbbbbbbbbbbbbbb.....ooooooooooooo....aaaaaaaaaaaaaaa.rrrrrr.......ddddddddddddddd..
//....dddddddddddddd...aaaaaaaaaaaaaaa..ssssssssssss....hhhhhh....hhhhhh..bbbbbbbbbbbbbb.......ooooooooooo.....aaaaaaaaaaaaaaa.rrrrrr........dddddddddddddd..
//......ddddd...........aaaaaa............ssssssss...............................bbbbb...........ooooooo.........aaaaa.........................ddddd.........
//........................................................................................................................................................... */

#dashboard {
  padding-top: 80px;
}

#edit_profil {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  height: auto;
}

#edit p {
  margin-left: 35px;
}

.delete-compte {
  margin-top: 129px;

  background: #c4c1b8;
}

#buttonEdit {
  margin-top: 50px;
}

#confirm-button {
  margin-left: 30px;
}

#dashboard h1 {
  margin-left: 15px;
}

#dashboard h2 {
  margin-left: 30px;
}

#dashboard h3 {
  margin-left: 30px;
  width: 200px;
}

#dashboard header {
  background: #cee4f7;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.articles-favoris {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #cee4f7;
  height: auto;
  margin-top: 37px;
}

.articles-favoris img {
  height: 250px;
  width: auto;
}

.articles-favoris p {
  width: 445px;
}

.articles-favoris li {
  list-style: none;
}

.container-article {
  height: auto;
}

@media (min-width: 825px) {
  .articles-favoris {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 75px;
    justify-content: space-between;
    height: 250px;
  }
}

/* HYPNOSE PAGE METIERS  */

#hypnose-container {
  padding-top: 80px;
}

#hypnose-container h1 {
  margin-left: 35px;
}

#hypnose-container span {
  text-align: center;
  width: 600px;
  display: block;
  padding: 13px;
  margin-top: 44px;
  border: 2px solid #f5e5b3;
}

#hypnose-container p {
  margin-left: 35px;
  width: 100vw;
}

#hypnose-container h2 {
  margin-left: 35px;
}

#hypnose-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hypnose-sub-container img {
  width: 100vw;
  height: 600px;
  margin-bottom: 93px;
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/wind.jpg);
}

.hypnose-sub-container .img2 {
  width: 100vw;
  height: 600px;
  margin-bottom: 93px;
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/montains-dream.jpg);
}

.container-bottom-txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-top-txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.soin-hypnose {
  width: 700px;
}

@media (min-width: 825px) {
  #hypnose-container p {
    max-width: 808px;
  }

  .container-bottom-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-top-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
  }
}

.accordion {
  overflow: hidden;
  border-radius: 0px;
}

.acchead {
  cursor: pointer;
  width: 100%;
  outline: none;
  text-align: left;
  font-family: Sans-serif;
  font-size: 17px;
  color: #858585;
  background: #fafafa;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  border: none;
  padding: 10px 15px;
}

.accpanel {
  font-family: Sans-serif;
  font-size: 16px;
  color: #636363;
  background: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  padding: 22px 50px;
  overflow: hidden;
  display: none;
}

.accpanel p {
  padding: 0px;
  margin: 0px;
}

/* SOPHRO METIERS  */

#sophro-container {
  padding-top: 80px;
}

#sophro-container h1 {
  margin-left: 35px;
}

#sophro-container span {
  text-align: center;
  width: 600px;
  display: block;
  padding: 13px;
  margin-top: 44px;
  border: 2px solid #f5e5b3;
}

#sophro-container p {
  margin-left: 35px;
  width: 100vw;
}

#sophro-container h2 {
  margin-left: 35px;
}

#sophro-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sophro-sub-container img {
  width: 100vw;
  height: 600px;
  margin-bottom: 93px;
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/wind.jpg);
}

.sophro-sub-container .img2 {
  width: 100vw;
  height: 600px;
  margin-bottom: 93px;
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/montains-dream.jpg);
}

.soin-sophro {
  width: 700px;
}

@media (min-width: 825px) {
  #sophro-container p {
    max-width: 808px;
  }

  .container-bottom-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-top-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
  }
}

/* Magnétisme métiers  */

#magne-container {
  padding-top: 80px;
}

#magne-container h1 {
  margin-left: 35px;
}

#magne-container span {
  text-align: center;
  width: 600px;
  display: block;
  padding: 13px;
  margin-top: 44px;
  border: 2px solid #f5e5b3;
}

#magne-container p {
  margin-left: 35px;
  width: 100vw;
}

#magne-container h2 {
  margin-left: 35px;
}

#magne-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.magne-sub-container img {
  width: 100vw;
  height: 600px;
  margin-bottom: 93px;
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/wind.jpg);
}

.magne-sub-container .img2 {
  width: 100vw;
  height: 600px;
  margin-bottom: 93px;
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/montains-dream.jpg);
}

.soin-magne {
  border: 1px solid red;
  width: 700px;
}

@media (min-width: 825px) {
  #magne-container p {
    max-width: 808px;
  }

  .container-bottom-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-top-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
  }
}

/* ALL ARTICLES */

#all-articles button {
  background: #f06969;
  width: 267px;
  border-radius: 88px;
  box-shadow: 2px 3px 12px #8f8484;
  color: white;
  padding: 5px;
}

#global-head-articles {
  padding-top: 80px;
  background: #cee4f7;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-article-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #cee4f7;
  height: auto;
  margin-top: 37px;
  padding: 30px 0px 30px 0px;
}

.container-article-main p {
  width: 421px;
}

@media (min-width: 825px) {
  .container-article-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 75px;
    justify-content: space-evenly;
    height: 250px;
  }

  .container-article-main img {
    height: 250px;
    width: auto;
  }

  .container-article-main h3 {
    width: 200px;
  }
}

/* Page create article  */

#create-article {
  padding-top: 80px;
}
