body {
  width: auto;

  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 53px;
  font-weight: lighter;

  color: #707070;
}

h2 {
  color: #989898;
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

p {
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #707070;
}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
  max-width: 100%;
}

/* conserver le ratio des images */

img {
  height: auto;
}

textarea,
table,
td,
th,
code,
pre,
samp {
  -webkit-hyphens: auto;
  /* césure propre */
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  /* passage à la ligne forcé */
}

/* ////////// MENU PRINCIPAL /////////// */

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;

  position: fixed;

  background-color: white;
  z-index: 99999;
}

#logo-mobile {
}

#logo-desktop {
  margin-left: 35px;
}

.btn-rdv-desktop {
  display: flex;
  align-items: center;
  width: 267px;
  justify-content: center;
  background-color: #cee4f7;
  height: 50px;
  border-radius: 22px;
}

.btn-account-desktop {
  display: flex;
  align-items: center;
  width: 177px;
  justify-content: space-between;
}

.navbar .menu-desktop {
  display: none;
}

.menu-mobile {
  display: flex;
  height: 100px;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}

.btn-rdv-mobile {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  background: #cee4f7;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

@media (min-width: 1045px) {
  .navbar .menu-mobile {
    display: none;
  }

  .navbar .menu-desktop {
    height: 100px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }

  .menu-desktop {
    display: flex;
    align-items: center;
  }

  .navbar .menu-desktop a {
    margin-right: 3em;
  }

  .navbar .menu-desktop a:last-child {
    font-weight: lighter;
    color: #707070;
  }

  #video-hp {
    height: 800px;
  }

  .youtube-iphrame {
    height: 800px;
    width: 100vw;
  }

  .line-menu {
    background: #707070;
    height: 40px;
    width: 1px;
  }
}

/* ICONS MENU  */

.img-icon-menu {
  width: 20px;
}

/* TRAITS VERTICALS MENU */

.trait-vertical-menu {
  height: 15px;
  width: 2px;
  background: red;
}

/* VIDEO  */

#video-hp {
  height: 550px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px 155px;
  background-color: rgb(171, 210, 245, 0.4);
}

.youtube-iphrame {
  height: 482px;
  width: 100vw;
}

@media (min-width: 1045px) {
  #video-hp {
    height: 800px;
    order: 4;
  }

  .youtube-iphrame {
    height: 800px;
    width: 100vw;
  }

  .size-image-practicien {
    order: 4;
  }
}

/* CONTAINER PUSH A PROPOS */

#container-push-about-hp {
  height: 832px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.push {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 100vw;
}

.push p {
  text-align: left;
  width: auto;
  line-height: 23px;
  margin-left: 49px;
}

.push a {
  text-decoration: none;
  color: black;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 21px;
}

.arrow-link {
  height: 15px;
}

.container-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1045px) {
  #container-push-about-hp {
    height: 600px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .push p {
    width: 573px;
    color: #707070;
  }

  .push {
    flex-direction: row;
    justify-content: space-around;
  }

  .container-presentation {
    display: flex;
    flex-direction: column;
  }

  .size-image-practicien > img {
    max-width: 410px;
  }

  .container-presentation > h1 {
    margin-right: 308px;
  }
}

.size-image-practicien {
  padding-top: 35px;
}

.size-image-practicien > img {
  height: 320px;
  width: 100%;
  height: auto;
}

@media (min-width: 1380px) {
  #container-push-about-hp {
    flex-wrap: nowrap;
  }
}

@media (max-width: 1455px) {
}

/* MODULE CITATION */

.quote {
  height: 600px;
  background: #faf1d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 115px;
}

.text-quote {
  font-size: 35px;
  font-style: italic;
  color: #707070;
}

.author-quote {
  position: absolute;
  bottom: 26px;
  right: 33px;
  font-size: 25px;
  color: #707070;
}

.guillemet-left {
  position: absolute;
  top: 148px;
  left: 10px;
}

.guillemet-left > img {
  height: 50px;
}

.guillemet-right {
  position: absolute;
  bottom: 69px;
  right: 0px;
}

.guillemet-right > img {
  height: 50px;
}

/* LES SEANCES */

#seances {
}

.container-seance {
  height: 120px;
  width: auto;
  background: #e9f4fd;
  display: flex;
  align-items: center;
}

.container-seance > h3 {
  margin-left: 27px;
  width: 128px;
}

#container-seances {
  display: flex;
  flex-direction: column;
  height: 715px;
  justify-content: space-evenly;
}

#container-seances > h2 {
  margin-left: auto;
  margin-right: auto;
}

.container-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  height: 66px;
}

@media (min-width: 1045px) {
  #seances {
    position: relative;
  }

  #container-seances {
    display: flex;
    flex-direction: row;
    height: 273px;
    justify-content: space-evenly;
    margin-top: 265px;
  }

  #container-seances > h2 {
    position: absolute;
    top: -233px;
    left: 31px;
  }

  .container-seance {
    height: 120px;
    width: 468px;
    background: #e9f4fd;
    display: flex;
    align-items: center;
    border: 2px solid white;
  }
}

/* ARTICLE DU MOMENT */

#article-du-moment {
  height: 866px;
  background: #d8ebfc;
  position: relative;
  display: flex;
  margin-top: 68px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.container-article-hp {
  margin-top: 54px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;

  align-items: center;
  justify-content: space-around;
}

.container-article-hp > img {
  max-width: 100%;
}

.container-article-hp > a {
  margin-left: auto;
  margin-right: 20px;
}

.container-article-hp > p {
  max-width: 755px;
}

.container-article-hp > h3 {
  color: #78b8ec;
  font-size: 25px;
}

.title-article {
  text-align: center;
  padding-top: 60px;
}

@media (min-width: 1450px) {
  .title-article {
    position: absolute;
    left: 25px;
    padding-top: 60px;
  }

  .container-article-hp > a {
    margin-left: auto;
    margin-right: 20px;
  }

  .container-article-hp > img {
    position: absolute;
    left: 220px;
  }

  .container-article-hp > h3 {
    margin-right: auto;
  }

  .container-article-hp {
    margin-top: 54px;
    margin-left: 673px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    align-items: center;
    justify-content: center;
  }

  #article-du-moment > h2 {
    top: -87px;
    position: absolute;
    left: 25px;
  }

  #article-du-moment {
    margin-top: 162px;
  }

  .container-article-hp > p {
    max-width: 600px;
  }
}

.link-articles {
  position: absolute;
  right: 25px;
  margin-top: 9px;
}

.link-articles > a {
  font-size: 18px;
}

/* SECTION TEMOIGNAGES */

#temoignages {
  height: 500px;
  background: #d8ebfc;
  margin-top: 130px;
}

.container-avis {
  display: flex;
  height: 500px;
  margin-top: 85px;
  flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title-avis {
  color: #1f9bac;
  margin-left: 25px;
}

.author-avis {
  margin-left: auto;
  margin-right: 58px;
  font-size: 20px;
}

@media (min-width: 1045px) {
  #temoignages {
    height: 385px;
    background: #d8ebfc;
    margin-top: 200px;
    display: flex;
    align-items: center;
  }

  .container-avis {
    width: 600px;
    display: flex;
    height: 366px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -17px;
  }
}

/* FOOTER MAP */

#map {
  height: 800px;
  display: flex;
  align-items: center;
  padding-left: 0px;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-around;
}

#map > img {
  order: 2;
  margin-top: 20px;
}

.localise {
  width: auto;
  margin-left: 0px;
}

.localise > h3 {
  color: #78b8ec;
  font-size: 25px;
  margin-left: 25px;
}

.localise > p {
  margin-left: 25px;
}

@media (min-width: 1400px) {
  #map {
    flex-direction: row;
    padding-left: 90px;
    margin-top: 0px;
  }

  #map > img {
    max-width: 610px;
    order: 1;
  }

  .localise {
    width: 600px;
  }
}

/* PIED DE PAGE  */

#global-footer {
  height: 623px;
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.links-footer {
  flex-direction: column;
}

.links-footer > ul {
  list-style: none;
  line-height: 24px;
}

.links-footer li:first-child {
  font-size: 18px;
  line-height: 60px;
  background: #f5e5b3;
  display: block;
  width: 100vw;
}

.links-footer li {
  font-size: 15px;
  color: #707070;
  letter-spacing: 0.5px;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  margin-right: 25px;
  align-items: flex-end;
}

.container-bottom > img {
  max-width: 90px;
}

#global-footer a {
  margin-left: 35px;
}

@media (min-width: 825px) {
  #global-footer {
    height: 350px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    flex-direction: row;
  }

  .links-footer {
    display: flex;
    width: 900px;
    justify-content: space-around;
    flex-direction: row;
  }

  .links-footer li:first-child {
    display: inline;
    padding: 10px;
  }

  #global-footer a {
    margin-left: 0px;
  }
}
