Coucou, je suis un formulaire très basique pas du tout travaillé

<form action="/login" method="POST">
 <div>
 <label for="username">Email:</label>
 <input type="email" name="username">
 </div>
 
 <div>
 <label for="password">Password:</label>
 <input type="password" name="password">
 </div>
 
 {{#if errorMessage}}
 <div class="error-message">{{errorMessage}}</div>
 {{/if}}
 
 <div>
 <button>Log in</button>
 </div>
</form>