<section id="login">
    <header class="container-form">
        <h1>Login</h1>
        <p>lorem ipsum lorem lorem lorem ipsum tadam tadam lorem ipsum lorem lorem lorem ipsum tadam tadamlorem ipsum
            lorem
            lorem lorem ipsum tadam tadam</p>
    </header>
    <form class="form-login" action="/login" method="POST">
        <div>
            <h3><label for="username">Email </label></h3>
            <input type="email" name="username">

        </div>

        <div>
            <h3><label for="password">Mot de passe </label></h3>
            <input type="password" name="password">

        </div>

        {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}

        <div>
            <button>Se connecter</button>
        </div>
    </form>

</section>